body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
  }

 /* .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://static.toiimg.com/photo/71822324/cherry.jpg?width=748&resize=4);
    background-size: cover;
    background-position: top center;
    filter: blur(20px); 
    z-index: -1; 
} */
  
  .container {
   
    display: flex;      
    height: 100vh;       
    width: 100vw;
   
  }

  
  .left-bar {
     
    color: #ffffff;     
    font-size: 55px;  
    text-decoration-line: underline;
    text-decoration-thickness: 2%;
    font-weight: bold;   
    text-align: justify;  
    padding: 20px 10px;         
    border-right: 2px solid #444444; 
    display: flex;      
    justify-content:center ; 
    align-items: center;    
    writing-mode: vertical-lr;
    transform: rotate(180deg); 
    width: 100px;         
    height: 100%;         
  }
  
  .content {
    
    flex-grow: 1;       
    padding: 30px;       
    display: flex;        
    position: relative; 
    flex-direction: column;
    gap: 10px; 
  }
  
  .content h1 {
    font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3%;
  padding-top: 3rem;
  padding-bottom: 1rem;
  padding-right: 3rem;
    color: white;
    text-align: right;
    display: flex;
    justify-content: right;
  }
  
  .content p {
    text-align: justify;
    font-size: 25px;
    line-height: 1.6;
    color: white;
    margin-bottom: 10px;
    padding-left: 6rem;
    padding-right: 3rem;
  }
  
  .show-less {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 18px;
    color: #777777;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  
  .show-less i {
    font-size: 12px;        
    transform: rotate(90deg); 
  }